.flowpop{
    background-clip: padding-box;
    border: 1px solid #b2adf5;
    padding: 10px; 
    background: #d0cce6;
    opacity:1;
}
.pagetitle{
    font-size: 30px;
    color:white;
}

sectionline {
    width:900px;
    float:left;
    padding-left:100px; 
}

section {
    float:left;
    padding-left:100px; 
    color: white;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 100px;
}